* {
    border: 0;
    padding: 0;
    text-align: center;
}

html {
    background-color: black;
    font-family: Verdana;
}

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    margin: .5em auto;
}

header a {
    margin: .5em auto;
    font-size: 16px;
    color: aquamarine;
}

video {
    margin: 1em 0;
}